VITE_APPSECRET=
VITE_SSOLOGINURL=https://api.iiflcapital.com/v1/
VITE_APPCODE=
VITE_SSOREDIRECTURL=https://markets.iiflcapital.com/
VITE_LOGINBASEURL=https://idaas.iiflsecurities.com/v1/
VITE_BASEURL=https://marketsapi.iiflcapital.com/
